@media (prefers-color-scheme: dark) {
  :root {
    color: white;
    background-color: black;
    border-color: currentColor;
  }

  option {
    background-color: black;
  }
}

:root {
  font-family: monospace;
}

body {
  margin: 0rem;
  overflow-y: scroll;
}

form[name="serial-options"] {
  width: 100%;
  max-width: 23rem;
  margin: 0 auto;
  /* transform: translate(-50%, 0%); */
}

form[name="serial-options"] .grid {
  display: grid;
  gap: 0.25rem;
  grid-template-columns: 8rem auto;
  grid-template-rows: auto;
  margin: 0.25rem 0rem;
}

button,
input,
select {
  color: inherit;
  background-color: inherit;
  border-style: solid;
  border-color: inherit;
  border-width: 0.125rem;
}

form[name="serial-options"] button {
  width: 100%;
}

#output {
  display: block;
  white-space: pre;
  margin-top: 2.25rem;
}

#warning {
  display: block;
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
  margin-bottom: 1rem;
  border-style: solid;
  border-width: 0.25rem;
  border-color: red;
  box-sizing: border-box;
}
